IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName phixsoft.com.ng
AuthUserFile /home/phixsoft/public_html/_vti_pvt/service.pwd
AuthGroupFile /home/phixsoft/public_html/_vti_pvt/service.grp

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php